/* FONT */
@import url("https://api.fonts.coollabs.io/css2?family=Iceberg&display=swap");

/* RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
video,
img {
  display: block;
}

/* HTML, :root and BODY */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

body {
  background-color: rgb(var(--bg-color-1));
  color: rgb(var(--tx-color));

  font-family: "Iceberg", cursive;
  font-size: var(--fs-125);
  line-height: normal;
}

body.light-theme {
  --bg-color-1: 220, 220, 220;
  --bg-color-2: 255, 255, 255;
  --bg-color-3: 205, 205, 205;
  --tx-color: 17, 17, 17;

  --br: 1px solid rgb(var(--tx-color));
}
body.dark-theme {
  --bg-color-1: 33, 33, 33;
  --bg-color-2: 23, 23, 23;
  --bg-color-3: 55, 55, 55;
  --tx-color: 255, 255, 255;

  --br: 1px solid rgb(var(--tx-color));
}

body.dark-theme .icon {
  filter: invert(1);
}

:root {
  --br-rad: 16px;

  --fs-050: 0.5rem;
  --fs-100: 1rem;
  --fs-125: 1.25rem;
  --fs-150: 1.5rem;
  --fs-200: 2rem;
  --fs-250: 2.5rem;
  --fs-300: 3rem;
  --fs-400: 4rem;
  --fs-800: 8rem;

  --fw-400: 400;
}

/* Utility classes */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.h-min-100 {
  min-height: 100vh;
  min-height: 100svh;
}

/* Elements */
a {
  color: rgb(var(--tx-color));
}

/* HERO */
#hero {
  overflow-x: hidden;
  background-image: url(Media/hero-bg.JPG), url(Media/hero-bg-lowres.JPG);
  background-size: cover, cover;
  background-position: right, right;
  background-attachment: fixed, fixed;
}
h1 {
  text-align: center;
  color: white;
  margin-top: clamp(1rem, 10vw, 7rem);
  font-size: clamp(var(--fs-400), 10vw, var(--fs-800));
}

/*  NOTHING  */
.nothing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nothing p {
  font-size: 3rem;
}

/*  FOOTER  */
footer {
  width: 100%;
  position: relative;
  background-color: rgb(var(--bg-color-2));
  overflow: hidden;
}
footer p {
  color: rgb(var(--bg-color-1));
  animation: marquee 50s linear 0s infinite normal;
  white-space: nowrap;
}

footer p:nth-child(odd) {
  animation-direction: reverse;
}

footer p.no-animation {
  color: rgb(var(--tx-color));
  animation: none;
}

footer .thanks {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(+50%);
  text-align: center;
}

footer p.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: var(--fs-100);
  }
}
