/* RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
video,
img {
  display: block;
}

/* HTML, :root and BODY */
html {
  scroll-behavior: smooth;
}

:root {
  --br: 1px solid var(--tx-color);
  --br-rad: 16px;

  --fs-100: 0.5rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 4rem;
  --fs-800: 8rem;
}

body {
  background-color: rgb(var(--bg-color-1));
  color: rgb(var(--tx-color));
}

body.light-theme {
  --bg-color-1: 220, 220, 220;
  --bg-color-2: 255, 255, 255;
  --bg-color-3: 205, 205, 205;
  --tx-color: 17, 17, 17;
}
body.dark-theme {
  --bg-color-1: 33, 33, 33;
  --bg-color-2: 23, 23, 23;
  --bg-color-3: 55, 55, 55;
  --tx-color: 255, 255, 255;
}

/* Utility classes */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Content */
.arrow-nav {
  display: block;
  width: 2rem;
  height: 2rem;
}
