/* FONT */
@import url("https://api.fonts.coollabs.io/css2?family=Iceberg&display=swap");

/* RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
video,
img {
  display: block;
}

/* HTML, :root and BODY */
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--bg-color-1));
  color: rgb(var(--tx-color));

  font-family: "Iceberg", cursive;
  font-size: var(--fs-125);
  line-height: normal;
}

body.light-theme {
  --bg-color-1: 220, 220, 220;
  --bg-color-2: 255, 255, 255;
  --bg-color-3: 205, 205, 205;
  --tx-color: 17, 17, 17;

  --br: 1px solid rgb(var(--tx-color));
}
body.dark-theme {
  --bg-color-1: 33, 33, 33;
  --bg-color-2: 23, 23, 23;
  --bg-color-3: 55, 55, 55;
  --tx-color: 255, 255, 255;

  --br: 1px solid rgb(var(--tx-color));
}

body.dark-theme .icon {
  filter: invert(1);
}

:root {
  --br-rad: 16px;

  --fs-050: 0.5rem;
  --fs-100: 1rem;
  --fs-125: 1.25rem;
  --fs-150: 1.5rem;
  --fs-200: 2rem;
  --fs-250: 2.5rem;
  --fs-300: 3rem;
  --fs-400: 4rem;
  --fs-800: 8rem;
}

/* Utility classes */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.h-min-100 {
  min-height: 100vh;
  min-height: 100svh;
}

.content h3.tmar-8 {
  margin-top: 8px;
}

/* Elements */
a {
  color: rgb(var(--tx-color));
}

main {
  width: min(800px, calc(100% - 2rem));
  margin: 0 auto;
}

/* Content */
.heading h2 {
  font-size: var(--fs-300);
  text-align: center;
}

.content {
  background-color: rgb(var(--bg-color-2));
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: var(--br-rad);
}

.content p {
  margin: 0 0 8px 0;
}

.content h3 {
  margin-top: 1rem;
  font-size: var(--fs-250);
}

.content > a {
  display: block;
}

/* HERO */

/* Arrow nav */
.arrow-nav {
  padding: 0.5rem;

  position: fixed;
  bottom: 1rem;
  right: 1rem;

  border: var(--br);
  border-radius: 50px;

  transition: scale 0.5s;
  z-index: 999;
}

#arrow-nav-icon {
  width: 2rem;
  height: 2rem;
}

.arrow-nav:hover {
  scale: 1.3;
}

.icon {
  width: 4rem;
}

.oma-kuva {
  width: 100%;
  margin: 1rem 0;
}

.divider {
  height: 3px;
  background-color: rgb(var(--tx-color));
  margin: 1rem 0;
}

/*  FOOTER  */
footer {
  width: 100%;
  position: relative;
  background-color: rgb(var(--bg-color-2));
  overflow: hidden;
}
footer p {
  color: rgb(var(--bg-color-1));
  animation: marquee 50s linear 0s infinite normal;
  white-space: nowrap;
}

footer p:nth-child(odd) {
  animation-direction: reverse;
}

footer p.no-animation {
  color: rgb(var(--tx-color));
  animation: none;
}

footer .thanks {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(+50%);
  text-align: center;
}

footer p.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
